@page "/"
@inherits Elle.Client.ViewModels.IndexViewModel

<div class="main">
    <div class="content px-4">

        <h1>Elle</h1>
        <h5 class="text-muted">The configurable calculator</h5>

        <p>Add expressions (using the "+" button) in the order that they should be evaluated.</p>
        <ul>
            <li>Variable names cannot have spaces</li>
            <li>Variable names are case sensitive</li>
            <li>Only simple operations are supported (+, -, *, /, Math.Pow())</li>
            <li>Results are only calculated when you click "Solve"</li>
            <li>"Save" puts the expressions into your local browser storage</li>
            <li>"Clear" removes all expressions, but does not save the change</li>
            <li>Deleting a calculator does not delete it from local storage; save to persist the change</li>
        </ul>

        <Calculator Calculator="@ActiveCalculator" />

    </div>
</div>
