@page "/calculator"

<h1>Your calculator</h1>

<div class="input-group mb-3">
    <input class="form-control" bind="@calculator.Expression" />
    <div class="input-group-append">
        <span class="input-group-text">Expression</span>
    </div>
</div>

<div class="alert alert-danger" role="alert" hidden=@(calculator.Error == string.Empty)>
    @calculator.Error
</div>

<div class="input-group">
    <input class="form-control" value="@calculator.Result" readonly />
    <div class="input-group-append">
        <span class="input-group-text">Result</span>
    </div>
</div>

@functions {
    Models.Calculator calculator = new Models.Calculator();
}
