@page "/"

<div class="sidebar">
    <div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">Elle</a>
        <button class="navbar-toggler" onclick="@ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" onclick="@ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-calculator" aria-hidden="true"></span> Calculator
                </NavLink>
            </li>
        </ul>
    </div>
</div>

<div class="main">
    <div class="content px-4">

        <h1>Elle</h1>
        <h5 class="text-muted">The configurable calculator</h5>

        <Calculator Calculator="@(Calculators[0])" />

    </div>
</div>

@functions {
    List<Models.Calculator> Calculators = new List<Models.Calculator>() {
        new Models.Calculator() {
            Name = "Simple",
            Expressions = new List<Models.Expression>() {
                new Models.Expression() { Name = "a", Value = "3" },
                new Models.Expression() { Name = "b", Value = "4" },
                new Models.Expression() { Name = "c", Value = "2 * a + b" },
            }
        }
    };

    protected override async Task OnInitAsync()
    {
        foreach (Models.Calculator calculator in Calculators)
        {
            calculator.Solve();
        }
    }

    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}